
.black {
    margin: 15px;
    width: 100px;
    height: 100px;
    background-color: black;
}

#six {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: yellow;
}

#seven {
    display: none;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: red;
}

#eight {
    display: none;
    margin: 10px;
    width: 50px;
    height: 20px;
    background-color: green;
}

#right {
    position: fixed;
    left: 95%;
}

.blocks {
    display: block;
    border: 2px ridge black;
    left: 50%;
    margin: 15px;
    width: 300px;
    height: 100px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#outer {
    display: block;
    border: 2px ridge black;
    left: 50%;
    margin: 15px;
    width: 100px;
    height: 100px;
}

#inner {
    display: block;
    border: 2px ridge black;
    left: 50%;
    margin: 15px;
    width: 30px;
    height: 30px;
}

#banner {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.5);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}


